<div class="container">
  <div class="row">
    <div class="justigy-content-center">
      <h5> Campaign name: <%= @campaign.campaign_name %></h5>
      <p>Description: <%= @campaign.description %></p>